// Aside content

.aside_widget {
  padding: 30px;
  margin-bottom: 30px;

  font-size: 15px;
  line-height: 1.3;

  box-shadow: 0 2px 20px 6px rgba(#000, .3);

  @include media(">=desktop") {
    position: fixed;
    width: 33%;
    right: 15px;

    @supports (position: sticky) {
      position: sticky;
      top: 10px;
      width: 100%;
    }
  }
  @include media(">=widescreen") {
    width: 321px;
    right: calc((100vw - 1170px)/2);
    @supports (position: sticky) {
      width: 100%;
    }
  }
}

cite {
  font-style: normal;
  font-family: "robotoMedium", sans-serif;
  font-size: 12px;
}

.blockquote {
  margin-bottom: 0;

  p {
    position: relative;
    padding-left: 20px;

    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 4px;
      height: 100%;
      background-color: $white;
    }
  }
}
.blockquote-footer {
  &:before {
    content: "";
  }
}