// Social links
.socials__item {
  width: 42px;
  height: 42px;
  line-height: 42px;
  background-color: $primary;

  transition: background-color .3s, color .3s;

  &:hover {
    background-color: transparent;

    .btn-social {
      color: $primary;
    }
  }
}

.btn-social {
  display: block;
  color: $success;
}




