// Social links
.socials {
  list-style: none;
}
.socials__item {
  margin: 0 10px;
}

.socials__link {
  background-color: $primary;
  border-radius: 50%;
  transition: background-color .3s;

  &:hover {
    background-color: $success;
  }
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  font-size: 18px;

  color: $primary;
  transition: color .3s;

  &:hover {
    color: $primary;
  }
}