// Footer
.footer {
  padding: 20px 0;
}

.copyright {
  font-size: 14px;

  @include media-breakpoint-up(sm) {
    margin: 0;
  }
}

.list-group {
  flex-direction: row;
  line-height: 1.3;
}

.list-group-item {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 42px;
  height: 42px;
  margin: 0 5px;

  transition: background-color .3s;

  &:hover {
    background-color: $dark;
    border: transparent;

    a {
      color: $primary;
    }
  }

  a {
    color: $dark;
  }
}