$blue:     #434c6d; // primary
$red:      #FF0000; // danger
$yellow:   #ffc107; // warning
$green:    #20c7a1; // success
$cyan:     #f8e81c; // info
$teal:     #1cb18f;
$gray-100: #f8f9fa;
$gray-600: #6c757d;
$white:    #fff;

$primary:       $blue;
$secondary:     $gray-600;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $teal;
$theme-colors: ();


// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
    (
      "primary":    $primary,
      "secondary":  $secondary,
      "success":    $success,
      "info":       $info,
      "warning":    $warning,
      "danger":     $danger,
      "light":      $light,
      "dark":       $dark
    ),
    $theme-colors
);

// body
$body-color: $primary;
$base-min-width: 320px;
$line-height-base: 2;
$font-size-base: 1rem;

// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns: 12;
$grid-gutter-width: 30px;

// Font-size
$size-xxs: 12px;
$size-xs: 14px;
$size-m: 20px;
$size-l: 24px;
$size-xl: 26px;
$size-xxl: 72px;

// Typography
$font-family-sans-serif:"robotoRegular", "Helvetica Neue", Arial, sans-serif;
$font-family-base:  $font-family-sans-serif;
// stylelint-enable value-keyword-case

// Headings
$headings-font-family: "knewaveRegular";
$headings-margin-bottom: 30px;
$headings-font-weight: bold;
$headings-line-height: 1.3;

$h1-font-size: $font-size-base * 3.6;
$h2-font-size: $font-size-base * 3.2;
$h3-font-size: $font-size-base * 1.4;
$h4-font-size: $font-size-base * 1.2;
$h5-font-size: $font-size-base * 1; //1rem must be always
$h6-font-size: $font-size-base * 0.8; // 16px
//
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: $headings-margin-bottom;
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  text-transform: uppercase;
}
//
h1 {
  color: $info;
}

h2,
h4 {
  color: $success;
}

h3 {
  color: $white;
}


h5,
h6 {
  color: $primary;
}


.h1 {
  font-size: $h1-font-size;
  color: $primary;
}

.h2 {
  font-size: $h2-font-size;
}

.h3 {
  font-size: $h3-font-size;
}

.h4 {
  font-size: $h4-font-size;
}

.h5 {
  font-size: $h5-font-size;
}

.h6 {
  font-size: $h6-font-size;
}

// Paragraphs

// Style p element.
$paragraph-margin-bottom: 1em;

// Links

// Style anchor elements.
$link-color: $primary;
$link-decoration: none;
$link-hover-color: darken($danger, 15%);
$link-hover-decoration: none;

// navbar
$navbar-light-color: rgba($primary, 1);
$navbar-light-hover-color: rgba($danger, 1);
$navbar-light-active-color: rgba($danger, 1);
//
//// navbar toggler
$navbar-toggler-padding-y: 0;
$navbar-toggler-padding-x: 0;
$navbar-light-toggler-border-color: rgba($primary, .6);

// navbar brand
$navbar-brand-padding-y: 0;

// visual
//$jumbotron-color: white;
$display4-size: 3.2rem;
$display-line-height: $headings-line-height;
$lead-font-size: $font-size-base * 1.3;

//// buttons
$btn-font-family: "robotoMedium";
$btn-transition: color .3s ease;

//// list groups
$list-group-item-padding-y: 0;
$list-group-item-padding-x: 0;
$list-group-bg: $primary;
$list-group-color: $success;
$list-group-hover-bg: $success;

// cards
$card-bg: transparent;
$card-border-color: 0;
$card-spacer-x: 0;

// forms
$input-bg: transparent;
$input-border-color: $primary;
$input-border-width: 2px;
$input-placeholder-color: $primary;
$input-focus-bg: $input-bg;
$input-focus-border-color: $primary;
$input-focus-box-shadow: none;
$input-font-size: 1.2rem;
$input-color: $primary;
$input-focus-color: $input-color;
$input-btn-font-size: 1.2rem;
$input-height: auto;

// Figures
$figure-caption-font-size: 100%;
$figure-caption-color: $success;

// aside
$blockquote-font-size: $font-size-base * 0.7;









