$blue:    #434c6d;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #e83e8c;
$red:     #FF0000;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #20c7a1;
$teal:    #f8e81c;
$cyan:    #f8e81c;

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$grays: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$grays: map-merge(
    (
      "100": $gray-100,
      "200": $gray-200,
      "300": $gray-300,
      "400": $gray-400,
      "500": $gray-500,
      "600": $gray-600,
      "700": $gray-700,
      "800": $gray-800,
      "900": $gray-900
    ),
    $grays
);

$colors: ();
// stylelint-disable-next-line scss/dollar-variable-default
$colors: map-merge(
    (
      "blue":       $blue,
      "indigo":     $indigo,
      "purple":     $purple,
      "pink":       $pink,
      "red":        $red,
      "orange":     $orange,
      "yellow":     $yellow,
      "green":      $green,
      "teal":       $teal,
      "cyan":       $cyan,
      "white":      $white,
      "gray":       $gray-600,
      "gray-dark":  $gray-800
    ),
    $colors
);

$primary:       $blue;
$secondary:     $gray-600;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-800;
$theme-colors: ();


// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
    (
      "primary":    $primary,
      "secondary":  $secondary,
      "success":    $success,
      "info":       $info,
      "warning":    $warning,
      "danger":     $danger,
      "light":      $light,
      "dark":       $dark
    ),
    $theme-colors
);

// body
$body-color: $primary;
$base-min-width: 320px;
$line-height-base: 2;
$font-size-base: 1rem;

// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns: 12;
$grid-gutter-width: 30px;

// Typography
$font-family-sans-serif:"robotoRegular", "Helvetica Neue", Arial, sans-serif;
$font-family-base:  $font-family-sans-serif;
// stylelint-enable value-keyword-case

// Headings
$headings-font-family: "knewaveRegular";
$headings-margin-bottom: 30px;
$headings-font-weight: bold;
$headings-line-height: 1.3;

$h1-font-size: $font-size-base * 3.6;
$h2-font-size: $font-size-base * 3.2;
$h3-font-size: $font-size-base * 1.4;
$h4-font-size: $font-size-base * 1.2;
$h5-font-size: $font-size-base * 1; //1rem must be always
$h6-font-size: $font-size-base * 0.8; // 16px

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: $headings-margin-bottom;
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  text-transform: uppercase;
}

h1 {
  color: $info;
}

h2, h4 {
  color: $success;
}

h3, h5, h6 {
  color: $primary;
}

.h1 {
  font-size: $h1-font-size;
  color: $primary;
}

.h2 {
  font-size: $h2-font-size;
}

.h3 {
  font-size: $h3-font-size;
}

.h4 {
  font-size: $h4-font-size;
}

.h5 {
  font-size: $h5-font-size;
}

.h6 {
  font-size: $h6-font-size;
}

// Paragraphs
//
// Style p element.
$paragraph-margin-bottom: 1em;

// Links
//
// Style anchor elements.
$link-color: $primary;
$link-decoration: none;
$link-hover-color: darken($danger, 15%);
$link-hover-decoration: none;


// navbar
$navbar-light-color: rgba($primary, 1);
$navbar-light-hover-color: rgba($danger, 1);
$navbar-light-active-color: rgba($danger, 1);

// navbar toggler
$navbar-toggler-padding-y: 0;
$navbar-toggler-padding-x: 0;
$navbar-light-toggler-border-color: rgba($primary, .6);

// navbar brand
$navbar-brand-padding-y: 0;


// visual
$jumbotron-color: white;
$display-line-height: $headings-line-height;
$lead-font-size: $font-size-base * 1;

$display4-size: 3.2rem;

// buttons
$btn-font-family: "robotoBold";

$btn-transition: color .3s ease, background-color .3s ease, border-color .3s ease,  box-shadow .3s ease;








