// page-index

// About
.about__title {
  font-size: $font-size-l;
  @include media-breakpoint-up(sm) {
    font-size: 40px;
  }
  @include media-breakpoint-up(lg) {
    font-size: $h2-font-size;
  }
}

.card {
  height: 100%;
}

.card-title {
  position: relative;
  padding-bottom: 20px;

  &:after {
    content: "";
    position: absolute;
    width: 40%;
    height: 2px;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    background-color: $success;
  }
}

.card-text {
  font-size: $font-size-sm;
  flex: 1 1 auto;
}

.card-body__btn {
  font-size: $font-size-xs;
  flex: 0 0 auto;
}

.card-img {
  min-height: 135px;
}

.card-body {
  display: flex;
  flex-direction: column;
}

// ------------------------ contact --------------------
input.form-control {
  border-radius: 5px 0 0 5px;
  border-right: none;
  color: $primary;
  line-height: 1.3;
}

input.btn {
  border-radius: 0 5px  5px 0;
}

.list-link {
  transition: color .3s;
  padding-left: 20px;
  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    border-top: 4px solid transparent;
    border-left: 6px solid $primary;
    border-bottom: 4px solid transparent;

    transition: border-left-color .3s;
  }
  &:hover,
  &:hover:before,
  &:focus:before {
    border-left-color: $info;
    color: $info;
  }
}

.list-group-item,
.box-address__list {
  font-size: $font-size-sm;
}

address,
.box-address__list,
.box-address__description {
  margin-bottom: 0;
}

.box-address__link {
  transition: .3s;
  &:hover {
    color: $info;
  }
}

